{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <div class="row h-25">
        <div class="col-10 col-md-6 my-4 mx-auto text-box">
            <div class="black-bg rounded-0">
                <h5 class="p-4 inner-text">
                    Welcome to Cocktail Drop, 
                    Dublins premier cocktail delivery service. 
                    We provide a large range of fresh cocktails, made from the freshest ingredients.
                </h5>
            </div>
        </div>
    </div>

    <div class="row h-25">
        <div class="col-8 col-md-6 my-4 text-box">
            <div class="black-bg rounded-0">
                <h5 class="p-4 inner-text">
                    Delicious cocktails delivered straight to your door
                </h5>
            </div>
            <div class="my-4">
                <h4>
                    <a href="" class="shop-button btn btn-lg text-uppercase rounded-0">View Menu <i class="fa-solid fa-arrow-right"></i></a>
                </h4>
            </div>
        </div>
    </div>

    <div class="row h-25">
        <div class="col-8 col-md-6 my-4 ms-auto text-box">
            <div class="black-bg rounded-0">
                <h5 class="p-4 inner-text">
                    Or if you feel like trying some of our recipes yourself
                </h5>
            </div>
            <div class="my-4">
                <h4>
                    <a href="" class="shop-button btn btn-lg text-uppercase rounded-0">View Recipes <i class="fa-solid fa-arrow-right"></i></a>
                </h4>
            </div>
        </div>
    </div>

    <div class="row h-25">
        <div class="col-12 col-md-10 my-4 mx-auto text-box">
            <div class="black-bg rounded-0">
                <h3 class="p-4 inner-text text-center">What people think of us...</h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}