html {
    height: 100%;
    font-family: 'Poppin', sans-serif;
    font-weight: 300;
}

body {
    background: url('https://res.cloudinary.com/dgosfiw2e/image/upload/v1656267527/media/background_img_bx5qrf.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #d3d8d1;
    height: 100vh;
}

h1, h2, h3,
h4, h5, 
h6, p {
    font-family: 'Poppin', sans-serif;
    font-weight: 500;
}

hr {
    color: #de979f;
}

a {
    text-decoration: none;
}

th, td {
    color: #5016A6;
}

span a{
    color: #d3d8d1;
}

/* -------------------- Header/Nav */
.logo {
    text-transform: uppercase;
    color: #d3d8d1;
    font-weight: 300;
}

.purple-bg {
    background-color: rgba(147,27,153,0.6);
}

.black-bg {
    background-color: rgba(24,9,12,0.9);
}

.nav-link {
    color: #d3d8d1;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: #d3d8d1;
}

.navbar-toggler {
    border-color: rgba(144,158,139, 0.6);
}

.dropdown-bg {
    background-color: rgba(147,27,153,1);
}

.dropdown-item {
    color: #d3d8d1;
    text-transform: uppercase;
    font-size: large;
}

.dropdown-item:hover {
    color: #931b99;
    background-color: #d3d8d1;
}

.grey-bg {
    background-color: rgba(144,158,139, 0.6);
}

.search-btn {
    background-color: #931b99; 
    color: #d3d8d1;
    border-color: #d3d8d1;
}

.search-btn:hover {
    border-color: #d3d8d1;
    background-color: #d3d8d1;
    color: #931b99;
}

.icon {
    color: #d3d8d1;
}

.search-btn:hover .icon {
    color: #931b99;
}

/* -------------------- Index */ 
.text-box {
    max-height: max-content;
}

.inner-text {
    font-weight: 300;
    font-size: 1.6rem;
}

.shop-button {
    background-color: #d3d8d1;
    color: #931b99;
    max-width: 100%;
}

.shop-button:hover,
.shop-button:active,
.shop-button:focus {
    background-color: #931b99;
    color: #d3d8d1;
}

.quantity-btn {
    background-color: #d3d8d1;
}

.quantity-btn:hover,
.quantity-btn:active,
.quantity-btn:focus {
    background-color: #d3d8d1;
}

.quantity-btn span {
    color: #931b99;
}


/* -------------------- Products */

.product-bg {
    background: rgba(52,49,31, 0.8);
    min-height: 50vh;
}

.card {
    border: 1px #d3d8d1 groove;
    border-radius: 0;
}

.card p,
.card small {
    color: #931b99;
}

.product-details-bg {
    background: rgba(144,158,139, 0.4);
}

.product-details-container {
    background-color: rgba(147,27,153,0.9);
    color: #d3d8d1;
}

.product-details-container a {
    color: #d3d8d1;
}

.img-fluid {
    max-height: 800px;
    max-width: 500px;
}

.cat-link {
    color: #931b99;
}

.cat-link:hover {
    color: #931b99;
}

.custom-select {
    background-color: #d3d8d1;
    border: 1px #931b99 solid;
    color: #931b99;
}

select:hover {
    background: white;
}

select option:active {
    background: #d3d8d1;
}

/* -------------------- Product Management */
.product-management-bg {
    background: #E1E6DF;
    color: #5016A6;
}

.product-form-input {
    border-color: #931b99;
    border-radius: 0;
}

/* -------------------- From Boutique Ado */
.btt-button {
    height: 44px;
    width: 44px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #931b99;
    border: 1px solid #d3d8d1
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
    color: #d3d8d1;
}

/* toasts */

.toast-text {
    color: #5016A6;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 4px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------- Cart */
.cart-bg {
    background: #E1E6DF;
    min-height: 50vh;
}

.cart-logo {
    text-transform: uppercase;
    color: #931b99;
    font-weight: 400;
}

.cart-text {
    color: #931b99;
    font-weight: 400;
}

.cart-btn {
    background-color: #d3d8d1;
    color: #931b99;
    max-width: 100%;
}

.cart-btn:hover,
.cart-btn:active,
.cart-btn:focus {
    background-color: #0dcaf0;
    color: black;
}

.checkout-btn {
    background-color: #931b99; 
    color: #d3d8d1;
    border-color: #d3d8d1;
}

.checkout-btn:hover,
.checkout-btn:active,
.checkout-btn:focus {
    background-color: #0dcaf0;
    color: black;
}

/* -------------------- Profile */
.profile-bg {
    background: #d3d8d1;
    color: #5016A6;
    border-bottom: 2px solid #931b99;
    min-height: 50vh;
}


.profile-form-input {
    border-color: #931b99;
    border-radius: 0;
    max-width: 500px;
}

.profile-form-input::placeholder {
    color: rgba(80, 22, 166, 0.5);
}

/* -------------------- Allauth */
.auth-container {
    min-height: 50vh;
    max-width: 600px;
    background: #d3d8d1;
    color: #5016A6;
}

.auth-container input {
    border-color: #5016A6;
    border-radius: 0;
    max-width: 500px;
}

.auth-container a {
    color: #931b99;
}

.auth-btn {
    border: 1px solid #5016A6;
    color: #931b99;
}

.auth-btn:hover {
    border: 1px solid #5016A6;
    background: #5016A6;
    color: #d3d8d1;
}

.auth-container input::placeholder {
    color: rgba(80, 22, 166, 0.5);
}

.auth-container label:not([for='id_remember']) {
    display: none;
}

/* -------------------- Footer */
.footer {
    background-color: #d3d8d1;
    color: #931b99;
}

.footer i {
    font-size: 1.5rem;
    color: #931b99;
}

.privacy a {
    color: #931b99;
}

/* Mailchimp */
#mc_embed_signup { 
    border: 1px solid #931b99;
    clear:left; 
    font:14px 'Poppin', sans-serif; 
}