{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid product-management-bg mx-auto">
        <div class="row">
            <div class="col-12 col-md-6 mx-auto text-center">
                <hr>
                <h2 class="my-4">Blog</h2>
                <h5>Create a Post</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <form method="POST" action="{% url 'create_post' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-end my-4">
                        <a class="auth-btn btn rounded-0" href="{% url 'blog' %}">Cancel</a>
                        <button class="auth-btn btn rounded-0" type="submit">Create Post</button>
                    </div>
                </form>
            </div>            
        </div>
    </div> 
{% endblock %}