{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid product-details-bg">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="/media/noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0">
                <div class="product-details-container h-80 my-5">
                    <p class="my-2 fs-3 p-2">{{ product.name }}</p>
                    <p class="lead my-1 text-left fw-bold p-2">€{{ product.price }}</p>
                    {% if product.category %}
                    <p class="small my-1 mb-0 p-2">
                        <a href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fa-solid fa-wine-bottle mr-1"></i> {{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="p-2"><i class="fas fa-star my-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="p-2">No Rating</small>
                    {% endif %}
                    <p class="my-2 p-2">{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}