{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid product-details-bg">
        <div class="row">
            <div class="col-10 offset-1 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5 d-flex justify-content-center">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="/media/noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-4 p-0">
                <div class="product-details-container h-80 my-5">
                    {% if request.user.is_superuser %}
                        <small class="float-end m-3 p-2 cart-text text-uppercase" style="background:#E1E6DF">
                            <a style="color:blue" href="{% url 'edit_product' product.id %}">Edit </a>
                            |
                            <a class="text-danger" href="{% url 'delete_product' product.id %}"> Delete</a>
                        </small>
                    {% elif request.user.username != 'AnonymousUser' %}
                        <div>
                            <a href="" class="float-end search-btn btn text-uppercase rounded-0 m-2">Leave Review</a>
                        </div>
                        <div>

                        </div>
                    {% endif %}
                    <p class="my-2 fs-3 p-2">{{ product.name }}</p>
                    <p class="lead my-1 text-left fw-bold p-2">€{{ product.price }}</p>
                    {% if product.category %}
                    <p class="small my-1 mb-0 p-2">
                        <a href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fa-solid fa-wine-bottle mr-1"></i> {{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.rating_set %}
                        <div class="p-2">
                            {% if product.average_rating > 4 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            {% elif product.average_rating > 3 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            {% elif product.average_rating > 2 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            {% elif product.average_rating > 1 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            {% else %}
                            <span class="fa fa-star checked"></span>
                            {% endif %}
                        </div>
                        <small class="p-2">User Rating: {{ product.average_rating|floatformat:1 }} / 5 - based on {{ product.count_rating }} ratings.</small>
                    {% else %}
                        <small class="p-2">No Rating</small>
                    {% endif %}
                    <p class="my-2 p-2">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="my-1 p-2 fs-5">Quantity:</p>
                                <div class="form-group w-50 p-2 mb-2">
                                    <div class="input-group input-group-{{ product.id }}">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn quantity-btn rounded-0 decrement-qty_{{ product.id }}" 
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fa-solid fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                            name="quantity" value="1" min="1" max="20"
                                            data-item_id="{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn quantity-btn rounded-0 increment-qty_{{ product.id }}"
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fa-solid fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'products' %}" class="shop-button btn text-uppercase rounded-0 m-2">
                                    <i class="fa-solid fa-arrow-left"></i> Keep Shopping
                                </a>
                                <input type="submit" class="checkout-btn btn text-uppercase rounded-0 m-2" value="Add to Cart">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}